.wrapper{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid var(--dark-grey);
  padding: 1rem;
}
.header{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.headerContent{
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  cursor: pointer;
}

.status{
  padding: 0.4rem 1rem;
  border-radius: 3px;
  border: 1px solid;
  width: max-content;
  font-weight: 700;
  &.new{
    border-color: var(--primary);
    color: var(--primary);
  }
  &.processing{
    border-color: #003eb3;
    color: #003eb3;
  }
  &.closed{
    border-color: #5b8c00;
    color: #5b8c00;
  }
  &.cancelled{
    border-color: #a8071a;
    color: #a8071a;
  }
}
.images{
  display: flex;
  align-items:center;
  column-gap: 1rem;
}
.img{
  height: 12.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.details{
  max-height: 0;
  transition: .25s ease-in-out;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  opacity: 0;
  overflow: hidden;
  margin-top: 0;
  &.active{
    margin-top: 1rem;
    max-height: unset;
    opacity: 1;
  }
}
.arrow{
  transition: .25s ease-in-out;
  rotate: 180deg;
  padding: 0.5rem;
  &.active{
    rotate: 90deg;
  }
}

.items{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey);
  &:last-of-type{
    border-bottom: none;
  }
}
.image{
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.info{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.textInfo{
  display: flex;
  flex-direction: column;
}
.itemHeader{
  font-weight: 700;
}
.prices{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.priceWrapper{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.price{
  font-weight: 700;
}
.subtotal{
  min-width: 5rem;
}
.newPrice{
  color: var(--primary);
}
.oldPrice{
  text-decoration: line-through;
  color: var(--dark-grey);
}
.orderDetails{
  display: flex;
  column-gap: 2rem;
}
.orderDetail{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex: 1;
  .statusDelivery{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }
}
.detailStatus{
  border-color: var(--primary);
  white-space: nowrap;
  color: var(--primary);
  padding: 0.4rem 1rem;
  border-radius: 3px;
  border: 1px solid;
  width: max-content;
  font-weight: 700;
}
.totals{
  width: 15rem;
  div{
    display: flex;
    justify-content: space-between;
    &:last-of-type{
      font-weight: 700;
    }
  }
}
