.wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 7rem;
  padding: 2rem 0;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
.block{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1250px) {
  .block{
    padding: 0 1rem;
  }
}
@media (max-width: 991px) {
  .wrapper{
    row-gap: 4rem;
  }
}
