.title {
  font-weight: 700;
  font-size: 1.5rem;
}

.price {
  width: 100%;
}

.select {
  height: auto;
}

.block {
  padding: 2rem 0;

  :global(.ant-form-item) {
    margin-bottom: 0.2rem;
  }

  :global(.ant-col-8) {
    margin-bottom: 1rem;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}


.btns {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}
