.wrapper{
  max-width: 75rem;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .wrapper{
    padding: 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .wrapper{
    padding: 1rem;
    row-gap: 1rem;
  }
}
