.header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.sizes{
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  width: 15rem;
}
.size{
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
}
.btns{
  display: flex;
  align-items:stretch;
  gap: 1rem;
}
