.wrapper{
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.arrows{
  display: flex;
  align-items:center;
  column-gap: 0.5rem;
}
.prev{
  rotate: -180deg;
}
