.wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.header{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.categories{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.sections{
  width: 20rem;
  height: auto;
}
.select{
  height: auto;
}
@media (max-width: 1200px) {
  .wrapper{
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  .sections{
    width: 100%;
  }
  .row{
    flex-direction: column;
    div{
      flex: 1;
      max-width: 100%;
    }
  }

}
