.filters{
  display: flex;
  gap: 1rem;
  & > div{
    flex: 1;
  }
}
.list{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.select{
  height: auto;
}
@media (max-width: 768px) {
  .filters{
    flex-direction: column;
    gap: 0;
    max-width: 15rem;
  }
}
