.wrapper{
  display: flex;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid var(--dark-grey);
  &.hidden{
    opacity: .6;
  }
}
.contentWrapper{
  display: flex;
  align-items: stretch;
  gap: 1rem;
}
.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img{
  width: 20rem;
  min-height: 10rem;
  position: relative;
}
.header{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  h3{
    font-size: 1.25rem;
    font-weight: 700;
  }
}
.buttons{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

@media (max-width: 991px) {
  .contentWrapper{
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .img{
    width: 100%;
  }
}
