.border{
  color: #fff;
  transition: .38s ease-in-out;
}
.favorite{
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  color: transparent;
  transition: .38s ease-in-out;
  cursor: pointer;
  &:hover{
    .border{
      color: var(--primary);
    }
  }
  &.active{
    color: var(--primary);
    .border{
      color: transparent;
    }
    &:hover{
      color: var(--primary-dark);
    }
  }

}
