.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
  flex-direction: column;
  row-gap: 1rem;
  h3{
    font-size: 1.25rem;
    font-weight: 700;
  }
  p{
    text-align: center;
  }
}

